<!DOCTYPE html>
<html>
<head>
  <title>Summoner Seeker</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/summoners.js"></script>
  <link rel="icon" type="image/ico" href="/css/favicon.ico">
</head>

<style>
  body {
    background-image: url("/css/amumu.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0px;
    background-color: rgb(67,189,109);
  }
  h1 {
    margin-top: 100px;
  }
  </style>

<body>
   


  <div class="container">
    <div class="row">

    <h1>You are not logged in :( </h1>

      <div class="row">

        <a href="/login"><button type="button" class="btn btn-info">Log In</button></a>
        <a href="/"><button type="button" class="btn btn-info">Sign Up</button></a>
          
      </div>

    </div>
  </div>
</body>

</html>

