<!DOCTYPE html>
<html>
<head>
  <title>Summoner Seeker</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!--<script src="/js/login.js"></script>-->

  <style>
  body {
    background-image: url("/css/lulu.jpg");
    background-repeat: no-repeat;
    background-position: 0% 0px;
    background-color: rgb(105,65,102);
  }

  .btn-info {
    background: rgb(48,35,78);
    border: rgb(48,35,78);
  }
  .btn-info:hover{
    background: rgb(127,38,58);
  }
  </style>

</head>

  <body>

    <div class="container">

      <div id="signup-login-txt">
            <span>Don't have an account? </span>
            <span><a href="/"><button type="button" id="signup-button" class="btn btn-info">Sign Up</button></a></span>
      </div>

        <div class="col-sm-6 col-sm-offset-3">
              <form action="/sessions" method="POST" class="form-horizontal" id="login-form" role="form">
                  <div class="form-group">
                    <legend>Log In</legend>
                  </div>
              
                  <div class="form-group">
                    <label for="">Summoner Name</label>
                    <input type="text" name="sumName" class="form-control" placeholder="your summoner name"><br />
                    <label for="">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="password">
                  </div>
              
                  <div class="form-group">
                      <button type="Log In" class="btn btn-info">Submit</button>
                  </div>
              </form>
        </div>

      </div>
      
    </div>  

  </body>

</html>