
body {
	font-family: Verdana, sans-serif;
	text-align: center;
	background-image: url("datashe.jpg");
    background-color: rgb(69, 148, 212);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% -150px;
	color: whitesmoke;

}

.selector {
	width: 130px;
	display: inline;
}

p {
	font-size: 18px;
}

.flexbox {
	display: flex;
}

.flex1 {
	flex: 1;
}

#bio {
	width: 450px;
	color: black;
}

.preference-form {
	margin-top: 40px;
}

.btn-primary:hover {
	background-color: darkslateblue;
}

#signUpModal p {
	color: dimgray;
	text-align: left;
}

#signup-login-txt { 
    display:inline-block;
    float: right;
    margin-top: 20px;
}

.page-header {
    margin-top: 100px;
}

#login-form {
    margin-top: 100px;
}

#login-form legend{
    color: whitesmoke;
    font-size: 36px;
}

.summonersItem {
    display: inline-block;
    padding: 20px;
}


.stuff p #db {
    color: rgb(22,14,59);
}

.stuff {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
}

.stuff small{
    font-size: 16px;
}

.otherstuff {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 10px;
}
.otherstuff2 {
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-bottom: 10px;
}
#allstuff {
    border-radius: 30px;
}

#modal-id {
    color: rgb(22,14,59);
}

.summonersItem p {
    font-size: 22px;
}
.summonersItem h4 {
    color: silver;
}

.message p{
    margin-top: -10px;
    text-align: left;
    background-color: rgba(200, 200, 200, 0.9);
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.message h3{
    text-align: left;
    color: rgb(22,14,59);
    font-weight: bold;
    background-color: rgba(84,84,84, 0.9);
    font-size: 20px;
    padding: 8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/*navbar css*/

.btn-info {
    width: 90px;
    padding: 10px;
    border-radius: 50px;
}

.navbar-brand {
    margin-top: -12px;
}

.navbar {
    padding-top: 4px;
    background: dimgray;
    border: none;
}

.navbar .navbar-nav li a {
    color: whitesmoke;
}

.navbar .navbar-nav li a:hover {
    color: rgb(102,131,199)
}

.navbar-nav.navbar-right .btn { 
    position: relative; 
    z-index: 2; 
    padding: 4px 20px; 
    margin: 10px 10px 0 0; 
    transition: transform 0.3s; 
}

.navbar .navbar-collapse { 
    position: relative; 
    overflow: hidden !important; 
}
.navbar .navbar-collapse .navbar-right > li:last-child { 
    padding-left: 22px; 
}

.navbar .nav-collapse { 
    position: absolute; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: 0; 
    padding-right: 120px; 
    padding-left: 80px; 
    width: 100%; 
}
.navbar.navbar-default .nav-collapse { 
    background-color: transparent;
}
.navbar.navbar-inverse .nav-collapse { 
    background-color: #222; 
}
.navbar .nav-collapse .navbar-form { 
    border-width: 0; 
    box-shadow: none; 
}
.nav-collapse>li { 
    float: right; 
}

.btn.btn-circle { 
    border-radius: 50px; 
}
.btn.btn-outline { 
    background-color: transparent; 
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}
.navbar.navbar-default .nav-collapse.in,
.navbar.navbar-inverse .nav-collapse.in {
    transform: translate(0px,0px);
}


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { 
        padding-left: 15px; 
        padding-right: 15px; 
    } 
    
    .navbar .nav-collapse { 
        margin: 7.5px auto; 
        padding: 0; 
    }
    .navbar .nav-collapse .navbar-form { 
        margin: 0; 
    }
    .nav-collapse>li { 
        float: none; 
    }
    
    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }
    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }
    
    .navbar.navbar-default .nav-collapse.slide-down,
    .navbar.navbar-inverse .nav-collapse.slide-down {
        transform: translate(0px,-100%);
    }
    .navbar.navbar-default .nav-collapse.in.slide-down,
    .navbar.navbar-inverse .nav-collapse.in.slide-down {
        transform: translate(0px,0px);
    }
}

/* end navbar css */